.pink-background {
    background: #fff5ff;
}

img {
    display: block;
    margin: auto;
}

.modal-dialog {
  transform: translate(0, 80%) !important;
  -ms-transform: translate(0, 80%) !important; /* IE 9 */
  -webkit-transform: translate(0, 80%) !important; /* Safari and Chrome */
}
